{% extends 'layout.twig' %}

{% block body %}
<h1>Ajouter un produit</h1>
<form method="post" action="http://localhost:3000/product/addUserandroute">
libelle:<input type="text" name="libelle" placeholder="libelle..."/>
<br/>
price:<input type="number" name="prix" placeholder="price..."/>
<br/>   
description:<input type="text" name="description" placeholder="price..."/>
<br/>
quantite:<input type="number" name="quantite" placeholder="quantite..."/>
<br/>
<input type="submit" value="ajouter produit"/>
</form>
{% endblock %}
